{% extends 'base.html' %}
{% block conteudo %}
  <h2 style="text-align: center;">Notas dos Alunos</h2>
  <hr>
  <form class="form-group" action="{{url_for('diario')}}" method="post">
    <label>Aluno</label>
    <input class="form-control" type="text" name="aluno" required>
    <label>Nota</label>
    <input class="form-control"  type="text" name="nota">
    <button class="btn btn-success mt-3">Adicionar</button>
  </form>
  
  {% for registro in registros %}
  <details class="mt-2 mx-2">
    <summary>{{ registro.aluno }}</summary>
    <p>{{ registro.nota }}</p>
  </details>
  {% endfor %}
{% endblock conteudo %}
