{% extends 'base.html' %}
{% block conteudo %}
  <h2 style="text-align: center;">Integrando HTML ao Flask.</h2>
  <hr>
  <form class="form-group" action="{{url_for('principal')}}" method="post">
    <label>Conteúdo</label>
    <input class="form-control" type="text" name="conteudo">
    <button class="btn btn-success mt-3">Adicionar</button>
  </form>
  <ol class="list-group mt-4 list-group-numbered">
    {% for conteudo in conteudos %}
    <li class="list-group-item">{{ conteudo }}</li>
    {% endfor %}
  </ol>
{% endblock conteudo %}
